<div class="text-end">
  <p class="text-muted mb-2">{{ text_redirect }}</p>
  <button type="button" id="nopayn-confirm" class="btn btn-primary">{{ button_confirm }}</button>
</div>
<script type="text/javascript"><!--
$('#nopayn-confirm').on('click', function() {
    var element = this;

    $.ajax({
        url: 'index.php?route=extension/nopayn/payment/nopayn.confirm&language={{ language }}',
        dataType: 'json',
        beforeSend: function() {
            $(element).prop('disabled', true).html('<i class="fa-solid fa-spinner fa-spin"></i> Processing...');
        },
        complete: function() {
            $(element).prop('disabled', false).html('{{ button_confirm }}');
        },
        success: function(json) {
            if (json['error']) {
                $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            }

            if (json['redirect']) {
                location = json['redirect'];
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
//--></script>
